/* Colors */

/* Primary */

$soft-red: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$white: #ffffff;

/* Neutral */

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: #f8e9dd;
$very-pale-orange: #fffaf5;
$card-white: #fffbf6;

//Breakpoints
$mobile: 375px;
$desktop: 1440px;
