.balance {
  min-width: 343px;
  max-width: 540px;
  height: 97px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px 22px 20px;
  border-radius: 10px;
  background-color: $soft-red;
  margin-bottom: 16px;

  h4 {
    @include fontMiniCaption;
    color: $white;
    margin-bottom: 4px;
  }

  h3 {
    @include fontHeadingM;
    color: $white;
  }

  img {
    width: 60px;
    height: 40px;
  }

  @media (min-width: 768px) {
    padding: 27px 39px 25px 32px;
    height: 125px;

    h4 {
      @include fontBody;
      margin-bottom: 8px;
    }

    h3 {
      @include fontHeadingL;
    }

    img {
      width: 72px;
      height: 48px;
    }
  }
}
